# Flask Framework
flask==3.0.0
flask-cors==4.0.0

# Data Processing
pandas
numpy
scikit-learn
scipy
fsspec

# Alternative If not Running 
# pip install flask flask-cors pandas numpy scikit-learn scipy fsspec 